html, body {
    margin: 0;
    height: 100%;
    color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    background: #f0f0f0;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/*----------SIDENAV---------*/
#sidenav {
	position: relative;
	display: inline-block;
	width: 60px;
	float: left;
	height: 100%;
    background: #f0f0f0;
    border-collapse: collapse;
    border-right: 1px solid #5e5e5e;
    z-index: 3; 
}


/*​------------- Scrollbar ---------------*/
::-webkit-scrollbar {
   width: 8px;
   max-height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
   -webkit-background: #4a586d;
   background: #4a586d;
   border: 1px solid #5c687b;
}
/* Handle */
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   border: 1px solid #5c687b;
   background: #303f53;
}
