<section id="ChefPartial">

	<section id="MealDescriptionBlock" class="Container">

		<div class="TitleBlock">
			<h1>{{domElements.cook}}'S KITCHEN</h1>
			<span class="horizontalLine">
				<div class="line"></div>
				<p class="text">{{domElements.userAddress.city}}, <span>{{domElements.userAddress.state}}</span></p>
			</span>
		</div>

		<div class="ImgBlock">
			<img ng-src="{{domElements.imgSrc}}" alt="Image"></img>
		</div>

		<div class="DescriptionBlock">
			<h1>{{domElements.meal}}</h1>
			<p>{{domElements.mealDescription}}</p>
		</div>

	</section>

	<section id="MealPaymentBlock" class="Container"> 
		<span class="horizontalLine">
			<p class="text" style="margin-top: 0%;">next available on: {{domElements.availablity}}</p>
		</span>

		<div class="buttonGroup">
			<div class="timeSelect" ng-class="{selected: domElements.timeSelected === '7:00'}" ng-click="selectTimePeriod('7:00')">7:00</div>
			<div class="timeSelect" ng-class="{selected: domElements.timeSelected === '7:30'}" ng-click="selectTimePeriod('7:30')">7:30</div>
			<div class="timeSelect" ng-class="{selected: domElements.timeSelected === '8:00'}" ng-click="selectTimePeriod('8:00')">8:00</div>
			<div class="timeSelect submit">Buy now for ${{domElements.mealPrice}}</div>
		</div>

		<span class="horizontalLine">
			<div class="line"></div>
			<h3 class="text">Ingredients</h3>
		</span>

		<div class="DescriptionBlock">
			<p>{{domElements.ingredients}}</p>
		</div>
	</section>

	<section id="chefDescription" class="Container"> 
		<div class="TitleBlock">
			<img ng-src="{{domElements.bioImgSrc}}" alt="Image" class="cookImg"></img>
			<h1>{{domElements.cook}}</h1>
		</div>

		<div class="DescriptionBlock">
			<p>{{domElements.bio}}</p>
		</div>
		
	</section>

</section>