<!-- spinner -->
<div class="spinnerContainer gadgetStyle" ng-show="domElements.pageLoading">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
       <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
<!-- all the toasts -->
<toaster-container toaster-options="{'position-class': 'toast-top-full-width', 'prevent-duplicates': true}"></toaster-container>

<section id="FloatingNavBlock" class="Container">
	<div class="right navButton" ng-show="paymentOpen">
		<i class="material-icons" ng-click="backToCooking()">assignment_return</i>
	</div>
	<br>
<!-- 	<div class="right navButton" ng-show="paymentOpen && currentUser">
		<i class="material-icons" ng-click="logoutUser()">exit_to_app</i>
	</div> -->

</section>

<section id="ChefPartial" ng-show="!paymentOpen">

	<section id="MealDescriptionBlock" class="Container">

		<div class="TitleBlock">
			<h1>{{domElements.cook}}'S KITCHEN</h1>
			<span class="horizontalLine">
				<div class="line"></div>
				<p class="text">{{domElements.userAddress.city}}, <span>{{domElements.userAddress.state}}</span></p>
			</span>
		</div>

		<div class="ImgBlock">
			<img ng-src="{{domElements.imgSrc}}" alt="Image"></img>
		</div>

		<div class="DescriptionBlock">
			<h1>{{domElements.meal}}</h1>
			<p>{{domElements.mealDescription}}</p>
		</div>

	</section>

	<section id="MealPaymentBlock" class="Container"> 
		<span class="horizontalLine">
			<p class="text" style="margin-top: 0%;">next available on: {{domElements.day}} {{domElements.availablity}}</p>
		</span>

		<div class="buttonGroup">
			<div ng-repeat="period in domElements.timePeriods" class="timeSelect" ng-class="{selected: domElements.timeSelected.displayName === period.displayName}" ng-click="selectTimePeriod(period)">{{period.displayName}}</div>
			<div class="timeSelect submit" ng-click="submitOrder()">Buy now for ${{domElements.mealPrice}}</div>
		</div>

		<span class="horizontalLine">
			<div class="line"></div>
			<h3 class="text">Ingredients</h3>
		</span>

		<div class="DescriptionBlock">
			<p>{{domElements.ingredients}}</p>
		</div>
	</section>

	<section id="chefDescription" class="Container"> 
		<div class="TitleBlock">
			<img ng-src="{{domElements.bioImgSrc}}" alt="Image" class="cookImg"></img>
			<h1>{{domElements.cook}}</h1>
		</div>

		<div class="DescriptionBlock" style="margin-bottom: 7%;">
			<p>{{domElements.bio}}</p>
		</div>
		
	</section>

</section>

<section id="paymentPartial" ng-show="paymentOpen" ng-swipe-left="backToCooking()">
	<section id="orderSummary" class="Container">
		<div class="TitleBlock">
			<img ng-src="{{domElements.imgSrc}}" alt="Image" class="cookImg"></img>
			<h1>{{domElements.meal}} <br> By {{domElements.cook}}</h1>
		</div>
		<div class="summaryBlock">
			<p>{{domElements.day}} {{domElements.availablity}} at</p>
			<select ng-options="period.displayName for period in domElements.timePeriods" ng-model="domElements.timeSelected" ng-value="domElements.timeSelected.displayname"></select>
			<br>
			<p>Number of Servings</p><input class="servings" value="1" ng-model="domElements.servings" type="number" step="any" min="1" max="100"><br>
<!-- 			<p>Promotional Code</p><input><br> -->
		</div>
		<span class="horizontalLine">
			<div class="line"></div>
			<h3 class="text" style="margin-left: 32%;">Order Summary</h3>
		</span>
	</section>

	<section id="paymentDetails" class="Container">
		<div class="summaryBlock">
			<p>FOOD DONATION</p> <p class="priceSums"> ${{domElements.totalFoodCost}} </p> <br>
			<p>SERVICE FEE(9%)</p><p class="priceSums"> ${{domElements.tax}} </p><br>
			<p>TOTAL DISCOUNTS</p><p class="priceSums"> ${{domElements.discounts}} </p><br>
			<div class="shortLine"><h1>TOTAL: ${{domElements.total}}</h1></div><br>
		</div>
		<!-- Two buttons to show the different logout information. -->
		<div class="loginSignupToggle" ng-show="!currentUser">
			<div class="loginSignupButton" ng-class="{selected: !selectedButton}" ng-click="selectLoginSignup()">Signup</div>		
			<div class="loginSignupButton" ng-class="{selected: selectedButton}" ng-click="selectLoginSignup()">Login</div>
		</div>
		<p class="loginContext" ng-show="currentUser" ng-class="{bolderText: !selectedButton}">We have a card on record for you.</p>
		<div class="loginDetails" ng-show="!currentUser">
			<input id="username" placeholder="Phone number" ng-model="domElements.userInfo.phoneNumber" type="string" step="any" min="0">
			<input id="password" placeholder="Password" ng-model="domElements.userInfo.password" type="password">
		</div>
		<div class="cardDetails" ng-class="{removePadding: !currentUser}" ng-show="!selectedButton">
 			<input id="email" placeholder="Email" ng-model="domElements.userInfo.email" value="{{domElements.userInfo.email}}" ng-show="!currentUser">
			<input id="cardNumber" placeholder="Card number" ng-model="domElements.userInfo.cardNumber" value="{{domElements.userInfo.cardNumber}}" ng-class="{removeMargin: currentUser}">
			<input id="cvc" placeholder="cvc" ng-model="domElements.userInfo.cvc" value="{{domElements.userInfo.cvc}}"><br>

			<div>
				<input id="cardMonth" ng-model="domElements.userInfo.cardMonth" placeholder="mm">
				/
				<input id="cardYear" ng-model="domElements.userInfo.cardYear" placeholder="yy"><br>
			</div>
		</div>
		<div class="bottomBlock" ng-class="{shiftUp: selectedButton}">
			<!-- Powered by stripe img -->
			<div class="StripeImgBlock">
				<img ng-src="/assets/img/stripeDarkAsset.png" alt="Image"></img>
			</div>
			<div class="timeSelect submit" ng-click="submitPayment()">Buy Now</div>
				<p class="bottomText">(We will text you the cooks pickup location!)</p>
			<div class="timeSelect submit" ng-click="logoutUser()" ng-show="currentUser">Log Out</div>
		</div>
	</section>
</section>