html, body {
  margin: 0;
  height: 100%;
  color: rgba(0,0,0,.6);
  font-color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background: #f0f0f0;
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/*----------MAIN---------*/
#mainPage {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  border-collapse: collapse;
}

/*----------CHEF---------*/
#mainPage #ChefPartial {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
}
#mainPage #ChefPartial .Container {
  width: 100%;
  padding: 2% 0% 0%;
}
#mainPage #ChefPartial .Container h1 {
  font-size: 5vw;
  font-weight: 500;
  padding: 5% 5% 6%;
  margin: 0;
  color: rgba(0,0,0,.7);
}
#mainPage #ChefPartial .Container .horizontalLine {
  width: 100%;
  position: relative;
}
#mainPage #ChefPartial .Container .horizontalLine .text {
  background: #f0f0f0;
  padding: 0% 3%;
  font-size: 4vw;
  font-weight: 500;
  margin-top: -3%;
  display: inline-block;
  color: rgba(0,0,0,.7);
}
#mainPage #ChefPartial .Container .horizontalLine .line {
  width: 80%;
  margin: 0% 10%;
  border-bottom: 3px solid;
}
#mainPage #ChefPartial .Container .ImgBlock img {
  width: 70%;
}
#mainPage #ChefPartial .Container .DescriptionBlock h1 {
    font-weight: 500;
    font-size: 3vh;
    padding: 3% 0% 1%;
}

#mainPage #ChefPartial .Container .DescriptionBlock p {
    margin: 0% 9% 0%;
    font-size: 4vw;
    line-height: 1.5em;
    text-align: left;
}

#mainPage #ChefPartial .Container .buttonGroup {
  width: 100%;
  position: relative;
}

#mainPage #ChefPartial .Container .buttonGroup .timeSelect {
    display: inline-block;
    width: 22%;
    margin-bottom: 0;
    height: 7vw;
    border: 4px solid;
    font-weight: 500;
    font-size: 5vw;
    line-height: 7vw;
    margin: 0% 2%;
    cursor: pointer;
}
#mainPage #ChefPartial .Container .buttonGroup .timeSelect.selected {
  color: #f0f0f0;
  background: rgba(0,0,0,.7);
  border: 4px solid rgba(0,0,0,0.1);
} 
#mainPage #ChefPartial .Container .buttonGroup .timeSelect.submit {
  display: block;
  width: 45%;
  margin: 3% 27.5% 4%;
  font-weight: 300;
  font-size: 4vw;
  background: #85C597;
  color: #f0f0f0;
  border: 4px solid rgba(133,197,151, 0.1);
}

#mainPage #ChefPartial .Container .titleBlock {
  position: relative;
  margin-top: 0%;
}
#mainPage #ChefPartial .Container .cookImg {
position: absolute;
    width: 14%;
    left: 16%;
    top: 5%;
    border-radius: 50%;
}

/*​------------- Scrollbar ---------------*/
::-webkit-scrollbar {
   width: 8px;
   max-height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
   -webkit-background: #f0f0f0;
   background: #f0f0f0;
}
/* Handle */
::-webkit-scrollbar-thumb {
/*   -webkit-border-radius: 10px;
   border-radius: 10px;*/
   border: 1px solid #6e6e6e;
   border-right: 0px solid;
   background: #8e8e8e;
}
