html, body {
  margin: 0;
  height: 100%;
  color: rgba(0,0,0,.6);
  font-color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background: #f0f0f0;
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/*----------MAIN---------*/
#mainPage {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  border-collapse: collapse;
}

/*----------CHEF---------*/
#mainPage #ChefPartial {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
}
#mainPage #ChefPartial .Container {
  width: 100%;
}
#mainPage #ChefPartial .Container h1 {
  font-weight: bold;
  font-size: 6vw;
  padding: 5%;
  margin: 0;
  color: rgba(0,0,0,.7);
}
#mainPage #ChefPartial .Container .horizontalLine {
  width: 100%;
  position: relative;
}
#mainPage #ChefPartial .Container .horizontalLine .text {
  background: #f0f0f0;
  padding: 0% 3%;
  font-size: 4vw;
  margin-top: -2.5%;
  display: inline-block;
  font-weight: bold;
  color: rgba(0,0,0,.7);
}
#mainPage #ChefPartial .Container .horizontalLine .line {
  width: 80%;
  margin: 0% 10%;
  border-bottom: 2px solid;
}
#mainPage #ChefPartial .Container .ImgBlock img {
  width: 70%;
  padding: 0% 5%;
}
#mainPage #ChefPartial .Container .DescriptionBlock h1 {
  font-size: 5vw;
  padding: 2%;
}

#mainPage #ChefPartial .Container .DescriptionBlock p {
  margin: 0% 8% 5%;
  font-size: 5vw;
  text-align: left;
}

/*​------------- Scrollbar ---------------*/
::-webkit-scrollbar {
   width: 8px;
   max-height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
   -webkit-background: #f0f0f0;
   background: #f0f0f0;
}
/* Handle */
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #5e5e5e;
}
